<template>
  <div>
    <a
      v-for="sponsor in sponsors"
      :key="sponsor.username"
      target="_blank"
      :href="getAvatarUrl(sponsor.username)"
    >
      <div class="flex flex-col items-center">
        <!-- <img
          class="avatar rounded-full mb-2"
          :src="sponsor.avatar"
          :alt="getImageAlt(sponsor.username)"
        /> -->
        <span class="text-xl">{{ sponsor.username }}</span>
      </div>
    </a>
  </div>
</template>

<script>
export default {
  props: {
    sponsors: {
      default: [],
    },
  },
  methods: {
    getImageAlt(username) {
      return `${username} 's Image`;
    },
    async getAvatarUrl(username) {
      const res = await fetch(`https://api.github.com/users/${username} `, {
        headers: new Headers({
          Authorization: `Basic ${base64.encode(`${$config.githubAccessUsername}:${$config.githubAccessToken}`)}`,
        })
      });
    }
  },
  computed: {
    name() {
      return this.data;
    },
  },
};
</script>

<style scoped>
.avatar {
  height: 84px;
  width: auto;
}
</style>